@mixin font-face( $name ) {
	@font-face {
		font-family: quote($name);
		src: url('../../fonts/#{ $name }.eot?') format('eot'), url('../../fonts/#{ $name }.woff') format('woff'), url('../../fonts/#{ $name }.ttf') format('truetype');	
	}
}

@include font-face('HKGrotesk-Regular');
@include font-face('HKGrotesk-Medium');
@include font-face('HKGrotesk-Bold');

@mixin regular {
	// font-family: 'Univers Else';
	// font-family: 'Work Avec';
	font-family: 'HKGrotesk-Regular';
	// font-family: 'GT America Trial';
}

@mixin italic {
	font-style: italic;
}

@mixin bold {
	font-family: 'HKGrotesk-Bold';
	// font-weight: bold;
}

@mixin bold-italic {

}

// FONT STYLING MIXINS
@mixin letter-spacing ($value) {
	letter-spacing: ($value / 1000)+em;
}

@mixin font-size ($value,$ratio:1) {
	font-size: $value * $ratio;
}

@mixin line-height ($value,$ratio:1) {
	line-height: $value * $ratio;
}

// ---------------------------------------------------------
// Function for converting em to px
// ---------------------------------------------------------
// See: http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
// Usage, eg:

	// .title {
	//     font-size: em(37px);
	// }

@function em($px, $base: $baseFontSize) {
    @return ($px / $base) * 1em;
}

// -------------------------------------------------------

// Typography
// //////////

// Set the base font size
// Used to calcuate ems
$baseFontSize: 16;

* {
	font-style: normal;
	font-weight: normal;
}


// FONT SIZE MIXINS



// DEFINE FONT STYLES
body {
	@include regular;
	font-size: $baseFontSize + px;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
	@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) { -webkit-font-smoothing: subpixel-antialiased; }
}

em, i {
	@include italic;
}

strong, b {
	@include bold;	
}

em b,
b em,
i b,
b i,
strong em,
em strong {
	@include bold-italic;	
}

// FONT SIZES
@mixin large-type {
	font-size: 2.2em;
}

@mixin medium-text {
	font-size: 1.8em;
}

@mixin large-body-text {
	font-size: 1.5em;
}

@mixin year-text {
	font-size: 3em;
	letter-spacing: 0.1em;
}