// COLOURS
$white: white
$black: black

$red: red
$yellow: yellow
$blue: blue

$grey: lighten( $black, 50 )


// STRUCTURE
$gutter: 45px
$gutterSmall: 30px
$gutterMobile: 15px
$sloganBorderThickness: 5px
$maxWidth: 1600px

// BREAKPOINTS
$mobileWidth: 568px
=gutter-shrink
	+max-screen( 860px )
		@content
=gutter-mobile
	+max-screen( $mobileWidth )
		@content

// Z-INDEXES

// CUSTOM MIXINS
=default-link( $underline: false, $color: $blue )
	a
		@if $underline
			text-decoration: underline
	+can-hover
		a:hover
			color: $color

=restrict-width( $width: $maxWidth, $isPositioned: false )
	width: 100%
	margin: 0 auto
	max-width: $width
	padding-left: $gutter
	padding-right: $gutter
	+min-screen( $width + ($gutter * 2) )
		padding-left: 0
		padding-right: 0

	@if $isPositioned
		+min-screen( $maxWidth )
			left: 50%
			margin-left: $maxWidth / -2

	+gutter-shrink
		padding-left: $gutterSmall
		padding-right: $gutterSmall

	+gutter-mobile
		padding-left: $gutterMobile
		padding-right: $gutterMobile

// CUSTOM EASINGS
$bounce: cubic-bezier(.49,.64,.15,1.4)