extends _partials/_layout
include _partials/_mixins


block vars
	- var pageTitle = siteTitle;
	- var pageSlug = 'home';
	- var pageDescription = description;
	- var pageType = 'home';

block content
	
	p SITE CONTENT