mixin head
	head
		meta(charset='utf-8')
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(http-equiv='Content-Language', content='en')
		meta(name='author', content=author)
		title(id="meta-title")=pageTitle
		meta(name='description', content=description, id="meta-description")
		if (production)
			meta(http-equiv="Keywords" content=keywords)
			//- Makes sure your website shows up in all countries and languages
			meta(name="coverage", content="Worldwide")
			//- Does the same as the coverage tag
			meta(name="distribution", content="Global")
			//- Very short sentence describing the purpose of the website
			if abstract
				meta(name="abstract", content=abstract)
			//- Describes the topic of the website
			if topic
				meta(name="topic", content=topic)
			//- Brief summary of the company or purpose of the website
			if summary
				meta(name="summary", content=summary)

		if ( dev || staging )
			meta(name="robots", content="noindex, nofollow")


		//- setting for mobiles
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale = 1.0, maximum-scale = 1.0', id='meta-viewport')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')

		//- Meta things and share icons

		if (production)
			+openGraph(pageTitle,siteTitle,url,description)
			+twitterMeta(pageTitle,siteTitle,url,description,null,twitterHandle)
		+altFavicons

		//- meta(name="google", content="notranslate")

		//- INLINE CSS
		include _styles

		if (production || staging)

			//- CSS
			//- Inline
			link(rel='stylesheet', href=`${assets}/css/min/index.css` + cachebust)
			//- Loaded
			//- link(rel='stylesheet', href=`${assets}/css/min/css` +cachebust)

			//- HTML5 SHIV, if necessary
			<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
			//- Make main work for IE
			script.
				document.createElement('aside');
				document.createElement('main');
			
			//- JQUERY (LIVE)
			<!--[if lte IE 9]>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="/jquery/jquery_1.js"><\/script>')</script>
			<![endif]-->

			<!--[if !IE]><!-->
			script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="/jquery/jquery_3.js"><\/script>');
			<!--<![endif]-->

		else
			//- JQUERY (LOCAL)
			script(src=`${assets}/jquery/jquery_3.js` + cachebust)
			//- CSS (LOCAL)
			link(rel='stylesheet', href=`${assets}/css/mouse/index.css` + cachebust)
		

		script.
			//- SET asset path variable
			var assetPath = window.assetPath = '#{assets}';
			//- SET PAGE TYPE
			var currentPage = window.currentPage = '#{pageType}';

		if (staging)
			script.
				//- environment variable
				var staging = window.isStaging = true;

		if (production || staging)
			script.
				//- environment variable
				var isDev = window.isDev = false;
			script(src=`${assets}/js/min/scripts.js` + cachebust)
		else
			script.
				//- environment variable
				var isDev = window.isDev = true;
			script(src=`${assets}/js/vendor.js` +cachebust)
			script(src=`${assets}/js/browserify.js` +cachebust)
			script(src=`${assets}/devPlugins/dat.gui.min.js` +cachebust)
			script(src=`${assets}/js/mouse/scripts.js` +cachebust)
		
		//- GOOGLE ANALYTICS
		if ( production && analyticsId )
			+googleAnalytics( analyticsId )