include _head
include _utils
include _mixins

//- Global template vars
- var time = new Date();
- var cachebust = '?'+time.getTime();
- var root = production ? '' : '/dev';
- var bodyClass = !production ? 'is-dev' : 'not-dev';

block vars

doctype html
+signature()
<!--[if IE 7]><html data-ie="ie7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html data-ie="ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html data-ie="ie9" lang="en" dir="ltr"><![endif]-->
<!--[if !IE]><!-->
html(lang="en", dir="ltr")
	<!--<![endif]-->
	//- Where everything in the head lives LOL
	+head()

	body(class=bodyClass)
		div#wrapper
			block content
			if (!production && !staging)
				+browserSync()