mixin signature
	//
		.
		**  ////////////////  **
		||                    ||
		||        ___         ||
		||       /  /\        ||
		||      /  /:/_       ||
		||     /  /:/ /\      ||
		||    /  /:/ /:/_     ||
		||   /__/:/ /:/ /\    ||
		||   \  \:\/:/ /:/    ||
		||    \  \::/ /:/     ||
		||     \  \:\/:/      ||
		||      \  \::/       ||
		||       \__\/        ||
		||                    ||
		||  ________________  ||
		||  site by elwyn.co  ||
		**  ////////////////  **


mixin legacyWarning( message )
	aside#legacy-warning
		p.message=message

		ul.new-browser-list
			li
				a(href="https://www.google.com/intl/en/chrome/browser") chrome
			li
				a(href="http://support.apple.com/en_GB/downloads/#safari") safari
			li
				a(href="http://www.mozilla.org/en-US/firefox/new") firefox