style(type='text/css').
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    outline: 0;
	    -webkit-text-size-adjust: 100%;
	}

	body {
		font-family: Helvetica, Arial, sans-serif;
		font-weight: normal;
		font-style: normal;
	}